.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


table{
table-layout: fixed;
}

.button {
  margin: 1px;
  padding: 20px;
  border: 1px solid #245454;
  background-color: #3f5424;
  font-size: 150%;
  width: 70px;
  
}

.button:hover {
  background-color: #1c3334;
}

.button:active{
  background-color: #376e6f
}

#input {
  display: block;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  width: 250px;
  font-size: 180%;
  text-align: right;
  background-color: #2e151b;
  color: white;
  border: 2px solid #0e151b
}

#table{
  margin: auto;
}